$teal: #1ec1c8;
$pale-yellow: #f2e385;
$heading:  'Stalemate', cursive;
//font imports
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
body {
    margin: 0;
}
.hero {
    
    background-color: #d9d9d9;
    overflow: auto;

    &-btns {
        text-align: center;
        margin-top: 5%;
        justify-content: center;
        width: 100%;
    }
    
    &-btn {

        margin: 20pt;
        list-style: none;
        display: inline;
        background-color: #ffff;
        text-decoration: none;
        padding: 5pt 3pt 5pt 3pt;
        width: 100pt;
     
    }

  
}

@keyframes neon {
    from {
        text-shadow:
        0 0 6px rgba(214, 221, 172, 0.92),
        0 0 30px rgba(199, 172, 50, 0.34),
        0 0 12px rgba(165, 163, 16, 0.52),
        0 0 21px rgba(238, 242, 30, 0.92),
        0 0 34px rgba(242, 238, 30, 0.78),
        0 0 54px rgba(242, 238, 30, 0.92);
      }
     to {
        text-shadow:
        0 0 6px rgba(228, 223, 202, 0.98),
        0 0 30px rgba(228, 223, 202,0.42),
        0 0 12px rgba(203, 206, 64, 0.58),
        0 0 22px rgba(242, 221, 30, 0.84),
        0 0 38px rgba(185, 172, 95, 0.88),
        0 0 60px rgb(242, 175, 30);
      }
}
//media queries
@media (max-width: 768px) {
    .hero {
        &-img {
            background-repeat: no-repeat;
            background-image: url('./assets/images/splash-mobile.png');
        }

        &-heading {
            h1 {
                font-size: 40pt;
            }

            &btn {
                display:list-item;
            }
        }
    }
}

@media (max-width: 450px) {
   .hero {
       &-heading {
           font-size: 30pt;
       }
   }
}