$teal: #1ec1c8;
$pale-yellow: #f2e385;
$heading:  'Special Elite', cursive;
$text: 'Roboto Mono', monospace;
//@import "~bootstrap/scss/bootstrap";

//font imports
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 main {
    background-color: black;

 }

html {
    background-color: black;
}


.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5%;
    height: 90vh;
    
    &-text {
        background-image: url('./assets/images/pearl.png');
        background-repeat: repeat;
        background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-font-smoothing: antialiased;
            font-family:$heading;
   }
        
    h1 {
        font-size: 15vh;
        line-height: 1.5;
    }
    
    p {
        font-size: 5vh;
    }
    &-btns {
        padding: 1%;

    }
    &-btn {
        padding: 2%;
        display: inline;
        font-size: 3vh;
        list-style: none;
       
    }

    

    .arrow{

        &-wrapper {
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 4%;
            height: auto;
        }
       
        position:relative;
        width:50px;
        height:50px;
        transform:rotate(45deg);

        span {
            position:absolute;
            left:0;
            top:0;
            width:5rem;
            height:5rem;
            box-sizing:border-box;
            border:none;
            border-bottom:3px solid rgb(50, 219, 177);
            border-right:3px solid rgb(50, 219, 177);
            animation:animate 2s linear infinite;
            &:nth-child(1){
              top:-30px;
              left:-30px;
              animation-delay:0s;
            }
            &:nth-child(2){
              top:-15px;
              left:-15px;
              animation-delay:0.2s;
            }
            &:nth-child(3){
              top:0;
              left:0;
              animation-delay:0.4s;
            }
        }
    }

}

.resume {
    height: auto;
    padding: 3%;
    margin-top: 5vh;
    .card-deck {
        text-align: center;    
    }
  
    .card {
        padding: 0;
        background-color: black;
        max-width: 25rem;
        
        
        .top {
            position: relative;
            z-index: 1;
            transform: translateY(80px);
            justify-content: center;
            align-items: center;
            transition:  0.3s;
            align-content:center;
           
            
        }
        &-title {
            font-family: $heading;
            color: white;
            padding: 2%;
        }
        
        .bottom {
            visibility: hidden;
            position: relative;
            display: flex;
            transform: translateY(-90px);
            transition: .2s;
           
            
        }
        
        &-body {
            color: white;
        }
        
        &-img {
            height: 100%;
        }

        &-btn {
            background-image: url('./assets/images/pearl.png');
            border: none;
            border-radius: 15px;
            font-family: $heading;
            margin: 1%;
            padding: 2%;

            &:hover, &:active {
                color: white;
            }
        }

        &-text {
            font-family: $text;
        }
        
        
        .mask {
          transition: .4ms;
          border-radius: 15px;
            
        }
       
    }
    
}

.bio {
    height: auto;
    background-image: url('./assets/images/prism2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 3% ;
    padding: 3%;
    text-align: center;
    border-radius: 15px;
    
    &-wrapper {
        border: 8px black solid;
        border-radius: 15px;
        padding: 2%;
    }

    &-text {
        font-family: $text;
        font-weight: 900;
    }

    .resume-container {
        margin: 4%;
    }

    a {
        font-family: $heading;
        color: black;
        border: 5px solid black;
        padding: 1%;
        border-radius: 15px;
    }

 
    li {
        list-style: none;
    }
}
    


.contact {
    background-image: url('./assets/images/prism2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: auto;
    padding: 3%;
    margin: 3%;
    
    
    &-content {
        border: 10px solid black;
        border-radius: 15px;
        padding-top: 6%;
        text-align: center;
     
    }

    &-heading {
        font-family: $heading;
       
       
    }


    a {
       color: black;
        text-decoration: none;
        font-family: $text;
        
        &:hover {
            animation: neon 1.5s ease-in-out infinite alternate;
        }
    }


    .icon {
        margin: 2%;
    }
}

@keyframes neon {
    from {
        box-shadow:
        0 0 6px rgba(172, 206, 221, 0.92),
        0 0 30px rgba(50, 189, 199, 0.34),
        0 0 12px rgba(16, 130, 165, 0.52),
        0 0 21px rgba(207, 30, 242, 0.92),
        0 0 34px rgba(30, 242, 224, 0.78),
        0 0 54px rgba(30, 164, 242, 0.92);
      }
     to {
        box-shadow:
        0 0 6px rgba(202, 228, 224, 0.98),
        0 0 30px rgba(218, 202, 228, 0.42),
        0 0 12px rgba(206, 64, 206, 0.58),
        0 0 22px rgba(235, 30, 242, 0.84),
        0 0 38px rgba(149, 95, 185, 0.88),
        0 0 60px rgb(111, 30, 242);
      }
      
}


@keyframes animate{
    0%{
      border-color:rgb(50, 219, 177);
      transform:translate(0,0);
    }
     20%{
      border-color:rgb(247, 117, 188);
      box-shadow:
      0 0 6px rgba(202, 228, 224, 0.98),
      0 0 30px rgba(218, 202, 228, 0.42),
      0 0 12px rgba(206, 64, 206, 0.58),
      0 0 22px rgba(235, 30, 242, 0.84),
      0 0 38px rgba(149, 95, 185, 0.88),
      0 0 60px rgb(111, 30, 242);
       transform:translate(15px,15px);
    }
     20.1%,100%{
      border-color:#4a56ff;
      box-shadow:
      0 0 6px rgba(202, 228, 224, 0.98),
      0 0 30px rgba(228, 226, 202, 0.42),
      0 0 12px rgba(204, 206, 64, 0.58),
      0 0 22px rgba(242, 125, 30, 0.84);
    }
  }


//touchscreen card hover 
    @media (any-hover: hover) {
       .card {
           &:hover {
        .top {
            transform: translateY(0);

        }

        .bottom {
            transform: translateY(4%);
            visibility: visible;
        }
        
        .mask {
            
            animation: neon 1.5s ease-in-out infinite alternate;  
        }
      
       }
    }
      }
//media queries
@media (max-width: 770px) {
   .hero {
       height: 100vh;
       h1 {
           font-size: 10vh;
       }

       &-btns {
           font-size: 5vh;
         
       }

       &-btn {
           display: list-item;
       }

       .arrow {
           span {
               height: 2rem;
               width: 2rem;
           }
       }
   }
   .resume {
       height: auto;
   }
   .card {
       margin-top:10%
   }

 
}

@media (max-width: 600px) {
    .card {
        margin-top: 0;
    }
}
